* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
body{
    background-color: aqua;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */
.main {
    width: 100%;
    height: 100vh;
    /* background: url('city.jpg') center center; */
    /* background-size: cover; */
    /* background-color: darkkhaki; */
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
}

.title {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.col {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    color: white;
}

.col div {
    width: 250px;
    text-align: center;
}

input {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

.wish{
    background-color: aquamarine;
    color: rgb(202, 25, 55);
    margin: 15px;
    border-radius: 4px;
    border: 2px solid black;
}
.gif{
    width: 50%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.annu{
    width: 25%;
    height: 25%;
}